@font-face {
  font-family: "MyFont";
  src: url("/assets/fonts/PrintedCircuitBoard.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "MyFont", sans-serif !important;
}
